<h3 class="text-center">AVERTISSEMENT</h3>
<div class="container mycontainer aered" data-aos="zoom-in-up">
  <p class="figue">Pour ma part, je ne délivre aucun diagnostic, je ne prescris aucun traitement, je ne pratique aucune manipulation, je ne donne pas d'avis sur un traitement médical et je  ne m'oppose jamais à une intervention chirurgicale. Je ne promets pas la guérison à coup sûr car il y a des personnes sur qui ça ne « fonctionnera » pas sans que je puisse en donner les raisons pour l'expliquer. Le nombre et la durée des séances peuvent varier d'un patient à l'autre selon la réceptivité de chacun.</p>
</div>

<div class="container mycontainer aered" data-aos="zoom-in-up">
  <h4 class="info text-center">Je me déplace à votre domicile et vous pouvez me retrouver facilement en recherchant sur les moteurs de recherches :</h4>
  <p class="avertissement">Magnetiseur Ambarès-et-Lagrave, Magnetiseur Andernos-les-Bains, Magnetiseur Arès, Magnetiseur Artigues-près-Bordeaux, Magnetiseur Audenge, Magnetiseur Bassens, Magnetiseur Beautiran, Magnetiseur Bègles, Magnetiseur Biganos, Magnetiseur Blanquefort, Magnetiseur Bordeaux, Magnetiseur Bouliac, Magnetiseur Le Bouscat, Magnetiseur La Brède, Magnetiseur Bruges, Magnetiseur Cadaujac, Magnetiseur Camarsac, Magnetiseur Cambes, Magnetiseur Canéjan, Magnetiseur Carbon-Blanc, Magnetiseur Carignan-de-Bordeaux, Magnetiseur Cénac, Magnetiseur Cestas, Magnetiseur Eysines, Magnetiseur Fargues, Magnetiseur Fargues-Saint-Hilaire, Magnetiseur Floirac, Magnetiseur Gradignan, Magnetiseur Le Haillan, Magnetiseur Lanton, Magnetiseur Latresne, Magnetiseur Lège Cap-Ferret, Magnetiseur Léognan, Magnetiseur Lormont, Magnetiseur Marcheprime, Magnetiseur Martignas-sur-Jalle, Magnetiseur Mérignac, Magnetiseur Mios, Magnetiseur Montussan, Magnetiseur Parempuyre, Magnetiseur Pessac, Magnetiseur Saint-Caprais-de-Bordeaux, Magnetiseur Sainte-Eulalie, Magnetiseur  Saint-Jean d'Illac, Magnetiseur Saint-Loubès, Magnetiseur Saint-Médard-d'Eyrans, Magnetiseur Saint-Médard en Jalles, Magnetiseur Sallebœuf, Magnetiseur Saucats, Magnetiseur Talence, Magnetiseur Le Teich, Magnetiseur Tresses, Magnetiseur Villenave d'Ornon,  Magnetiseur Yvrac, Magnetiseur Gironde, Magnetiseur 33, Magnetiseur Aquitaine, Magnetiseur Gratuit, Magnetiseur Gironde, Magnetiseur 33, Magétiseur France, Meilleur Magnetiseur, Magnetiseur arret du tabac, Magnetiseur zona, Magnetiseur Brulure, Reiki Bordeaux, Reiki 33, Reiki Gironde.</p>
</div>







