<div class="banner text-center" data-aos="zoom-in-up">
  <div class="container">
   <marquee direction="left" behavior="scroll" scrollamount="6" style="height:20px;width:1000px;background-color:transparent;font-family:Vidaloka;font-size:16pt;color:#FDE9A3;font-weight:bold;border-width:0;border-style:dotted;border-color:#000000; ">Aide à l’Arrêt du tabac - Acné - Allergies - Anxiété - Épuisement - Côlon irritable (syndrome du) - Concentration (problèmes de) - Couperose - Dépression - Douleur osseuse / fractures - Douleurs articulaires / dorsales / lombaires / cervicales – Eczéma - Fatigue chronique ou ponctuelle - Goutte - Humeurs instables - Infertilité - Insomnie - Lumbago / lombalgie - Maîtrise de soi / Colère - Migraines chroniques - Nervosité - Oppression (sentiment ou symptômes d') - Panique (crise de)  - Phlébite - Psoriasis - Rupture ligamentaire – Sciatique - Sinusite - Stress – Angoisses - Suites opératoires (à traiter avant l'intervention) - Tendinite  - Varices - Verrues  - Zona – </marquee>
  </div>
  <h1>Jean Marie Banzo</h1>
  <h2>Magnétiseur - Énergéticien - Maître Reiki<br>30 ans d'expérience<br>Tél : 06  72  58  15  06</h2>
  <%= image_tag "jmb-id.jpg", alt: "photo de profil", id: "photo-id" %><br>
  <button class="btn btn-primary btn-lg" href="https://www.google.com/search?q=avis+jean+marie+banzo+magnetiseur&oq=avis+jean+marie+banzo+magnetiseur&aqs=chrome..69i57j33.31791j0j8&sourceid=chrome&ie=UTF-8#lrd=0xd54bd8a09c12473:0x6069083733648a2c,1,,," target="_blank">Voir les avis sur Google</button>
</div>

