<div class="myfooter">

  <div class="row">

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="list-menu text-center">
        <p>Jean-Marie BANZO<br> <i class="fa fa-phone"> 06 72 58 15 06</i><br>SIRET 539 935 684 000 16 <br> APE  8690F</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
       <div class="list-menu mentions">
        <ul>
          <li><a href="#.html">mentions supplémentaires</a></li>
          <li><a href="#.html">mentions supplémentaires</a></li>
          <li><a href="#.html">mentions supplémentaires</a></li>
          <li><a href="#.html">mentions supplémentaires</a></li>
          <li><a href="#.html">mentions supplémentaires</a></li>
          <li><a href="#.html">mentions supplémentaires</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="list-menu text-center">
        <p>Suivez-moi sur les réseaux sociaux</p>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/Jean-Marie-Banzo-1343351325723700/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>



  </div><!-- fin row -->

</div>

