<div class="myfooter">
  <div class="centree">
    <div class="row">
      <div class="col-lg-6 col-xs-12">
         <div class="list-menu">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/Jean-Marie-Banzo-1343351325723700/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
         <div>
          <p>SIRET 539 935 684 000 16 - APE  8690F</p>
        </div>
      </div>
    </div>

  </div>
</div>

