<div class="container">
  <div class="text-center" data-aos="zoom-in">
    <h3 class="figue">FORMULAIRE DE CONTACT</h3>
  </div>

  <div class="stylised">
    <form action="https://formspree.io/#" method="post">
      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <label>Prénom*</label>
            <input class="form-control" type="text"name="prénom" placeholder="Saisissez ici votre prénom">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Nom*</label>
            <input class="form-control" type="text"name="nom" placeholder="Saisissez ici votre Nom">
          </div>
        </div>

         <div class="col-md-3">
          <div class="form-group">
            <label>Téléphone*</label>
            <input class="form-control" type="email" name="_replyto" placeholder="Saisissez ici votre numéro de téléphone">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Addresse E-mail*</label>
            <input class="form-control" type="email" name="_replyto" placeholder="Saisissez ici votre E-mail">
          </div>
        </div>
      </div><!-- fin row -->

      <div class="form-group">
        <label>Votre message*</label>
        <textarea class="form-control" name="body" rows="4" placeholder="Saisissez ici votre message..."></textarea>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input class="form-control figue" type="submit" value="Envoyer">
          </div>
        </div>
      </div>
    </form>
    * mention obligatoire
  </div><!-- fin stylised -->
  <div class="loi">
    <h3 class="text-center">Loi informatique du 6 janvier 1978</h3>
  <p>Conformément à la loi Informatique et Libertés en date du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en nous envoyant un courrier électronique ou postal.</p>
  </div>


</div><!-- fin container -->
