<div id="left-nav">
  <ul>
    <li><%= link_to "Maux que le magnétisme soulage", "#.html" %></li>
    <li>Coupeur de feu - Barreur de feu - Radiothérapie </li>
    <li>Brûlures suite radiothérapie (rayons)</li>
    <li>Tarifs des séances </li>
    <li>COMMANDER une séance à distance </li>
    <li>Une vie sans tabac j’arrête de fumer !</li>
    <li>Faire face à l'envie de fumer après votre séance</li>
    <li>Contactez-moi </li>
    <li>livre d'or </li>
  </ul>
</div>
