<div class="navbar-name">
  <!-- Logo -->
  <a href="http://localhost:4567/" class="navbar-name-brand">
  <%= image_tag "jmb-logo1.png", alt: "LOGO", title: "Accueil" %>
  </a>
  <%= partial 'layouts/components/tab' %>
  <h3 class="hidden-lg hidden-md">MAGNÉTISEUR</h3>
  <!-- Right Navigation -->
  <div class="navbar-name-right">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-name-item">
      <div class="dropdown">
        <img src="../images/bio_et_bien_etre.png" class="avatar dropdown-toggle hidden-sm hidden-xs" id="navbar-name-menu" data-toggle="dropdown" title="Voir aussi">
        <ul class="dropdown-menu dropdown-menu-right navbar-name-dropdown-menu">
          <li><a href="#.html" target="_blank">Autres liens</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-name-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-name-dropdown-menu">
        <li id="nfi1">Naviguer vers :</li>
        <li><a href="reiki.html">Maître REIKI</a></li>
        <li><a href="coupfeu.html">Feu des brûlures</a></li>
        <li><a href="radiothérapie.html">Feu des rayons de radiothérapie</a></li>
        <li><a href="tabac.html">Arrêt du tabac</a></li>
        <li><a href="tarifs.html">Tarifs des séances</a></li>
        <li><a href="téléséance.html">Séance à distance</a></li>
        <li><a href="https://www.jm-magnetiseur.fr/livre_d_or_.I.htm">Livre d'or</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">A propos</a></li>
      </ul>
    </div>
  </div>
</div>
