<div class="navbar-top-offset"></div>

<h1 class="text-center">AVANT LA SÉANCE</h1>
<div class="container mycontainer aered">
  <P>Prenez le temps de mettre vos problématiques sur papier, questionnez-vous à propos de leurs raisons.</P>
  <P>N'hésitez pas à poser toutes les questions que vous pouvez avoir avant la séance.</P>
  <P>Si ce n'est pas votre première séance, notez tout changement dans vos ressentis, vos comportements depuis la dernière séance.</P>
  <P>On me demande souvent s'il est nécessaire de « croire » dans l'énergétique pour que les soins fonctionnent.</P>
  <P>Une simple ouverture même sceptique suffit.</P>
</div>

<div class="container mycontainer text-center">
  <%= link_to "Déroulement d'une séance", "reiki.html"  %>
</div>
<div class="container mycontainer text-center">
  <%= link_to "Après la séance", "pages/apséance.html"  %>
</div>
<div class="container mycontainer text-center">
  <%= link_to "Votre part du contrat", "pages/vpdc_séance.html"  %>
</div>














