<div class="navbar-top-offset"></div>

<h1 class="text-center">DÉROULEMENT D’UNE SÉANCE DE MAGNÉTISME </h1>
<div class="container mycontainer aered">
  <p>Que se passe-t-il durant la séance ?</p>
  <p>Rien de bien effrayant, rassurez-vous !</p>
  <p>Tout d'abord, une simple prise de contact…quelques questions :</p>
  <p>Que vivez-vous ?</p>
  <p>Quels sont vos problèmes, vos maux ?</p>
  <p>Avez-vous consulté votre médecin généraliste ?</p>
  <p>Qu'en dit votre médecin, son diagnostic ?</p>
  <p>Simplement quelques données pour comprendre votre situation et mieux vous accompagner.</p>
  <p>Puis, je vous demande de vous asseoir sur une chaise, calme, l’esprit ouvert pendant que j’impose les mains en contact indirect, la séance dure environ 30 minutes.</p>
  <p>Ensuite, nous discutons des effets ressentis, des pistes de réflexions sur vos problèmes, et nous convenons ensemble de la suite des choses.</p>
  <p>Voilà... C'est tout...</p>
  <p>Si certains ont la chance de voir leurs troubles s'estomper dès la première séance, il est plus courant de voir de nets progrès ou une disparition des symptômes après deux ou trois séances.</p>
  <p>Certaines pathologies plus lourdes ou profondément ancrées exigent un suivi plus long.</p>
</div>

<div class="container mycontainer text-center">
  <%= link_to "Avant la séance", "avséance.html"  %>
</div>
<div class="container mycontainer text-center">
  <%= link_to "Après la séance", "apséance.html"  %>
</div>
<div class="container mycontainer text-center">
  <%= link_to "Votre part du contrat", "vpdc_séance.html"  %>
</div>
































