.myfooter {
  position: relative;
  padding: 10px 10px;
  background-color: black;
  color: $yellow2;
}

.mentions {
  text-align: center;
}

.list-menu {
  width: auto;
  height: auto;
  margin: 4px 2px 4px 2px;
  padding: 4px 0px;
  border: 1px gray solid;
}

.list-menu p {
  font-size: 1.3rem;
}

.list-menu i {
  padding-right: 10px;
  color: $yellow2;
}

.list-menu a {
  color: $yellow2;
  opacity: 0.5;
  padding: 0px 10px;
}
.list-menu a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}




