#left-nav {
  position: absolute;
  top: 0px;
  left: -300px;
  height: auto;
  width: 350px;
  background: #333;
  color: white;
  padding: 10px 0px 5px 0px;
  margin: 5px;
  border-radius: 4px;
  transition: all ease-in-out 300ms;
  display: flex;
  z-index: 999;
}

#left-nav:hover {
  left: 0;
  transition: all ease-in-out 300ms;
}

#ico-menu {
  position: absolute;
  top: 80px;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  #left-nav {
    top: 120px;
  }
}
