// couleurs de texte par class
.info {
  color: $info;
}

.rouge {
  color: $red;
}

.figue {
  color: $figue;
}

// general style
.aered {
  margin: 20px auto;
}

.mycontainer {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 10px;
}

.formcontainer {
  margin: 40px 0px;
  background: $sky-gradient;
  padding: 8px 10px;
  text-align: center;
}

i {
  padding-right: 10px;
}

label {
  font-family: $body-font;
  color: $figue;
  transform: scaleY(1.3);
}

strong {
  color: $figue;
}

.stylised {
  background: $sky-gradient;
  padding: 20px 5px 10px 5px;
  margin: 5px;
  border-radius: 4px;
}

.mesvilles p {
  font-size: 1.5rem;
}

// media query

@media only screen and (max-width: 768px) {
  .mycontainer p {
    font-size: 1.5rem;
    margin: 0px 5px 0px 5px;
  }

  .formcontainer p {
    margin: 10px 0px;
    padding: 8px 5px;
    font-size: 14px;
  }

  .mesvilles p {
  font-size: 1.3rem;
  }

  .aered {
  margin: 10px 4px;
  }
}
