// couleurs de texte par class
.info {
  color: $info;
}

.rouge {
  color: $red;
}

.figue {
  color: $figue;
}

// general style

.mycontainer {
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

i {
  padding-right: 10px;
}

// media query

@media only screen and (max-width: 768px) {
  .mycontainer p {
    font-size: 1.5rem;
  }
}
