// Import Google fonts

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Vidaloka&display=swap');


// Define fonts for body and headers
$headers-font: "Vidaloka", "sans-serif";
$body-font: "Forum", "cursive";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

*, *:before, *:after {
  box-sizing: inherit;
}

html body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FDE9A3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

p {
  font-family: $body-font;
  font-size: 20px;
}

p:first-child {
  text-indent: 20px;
}







