<div class="navbar-top-offset"></div>

<h3 class="text-center">A PROPOS DE MOI </h3>
<div class="container mycontainer aered text-center" data-aos="zoom-in-up">
  <p>Vous pouvez, dans cette section, parler de vous, de votre parcours, de ce qui vous à conduit à jouer un rôle dans la guérison des personnes, etc...</p>
</div>


