<div class="navbar-top-offset"></div>

<h3 class="text-center">JE COUPE LE FEU DES BRÛLURES</h3>
<div class="container mycontainer aered text-center" data-aos="zoom-in-up">
  <p>Avec plus de 30 années d'expérience...</p>
  <h4 class="info">Je me déplace gratuitement à votre domicile sur Bordeaux et ses proches environs, ainsi que sur le nord du bassin d'Arcachon.</h4>
  <h3 class="rouge">Coupeur de feu - Barreur de feu</h3>
  <h3 class="rouge">Séance à distance gratuite pour couper le feu des brûlures sur les enfants en bas âges.</h3>
  <h1 class="rouge">06  72  58  15  06</h1>
  <p class="figue">Je conseille de faire une première séance quelques jours avant le début des rayons, sinon contactez-moi dès les premières sensations d'échauffements ou brûlures.</p>
  <button class="btn btn-success btn-lg" href="contact.html">Contacter par E-mail</button>
</div>

<%= partial 'layouts/components/avertissement' %>
