<div class="navbar-top-offset"></div>

<%= partial 'layouts/components/left-nav' %>
<%= partial 'layouts/components/banner' %>

<div class="container mycontainer">
  <marquee direction="left" behavior="scroll" scrollamount="6" style="height:20px;width:auto;background-color:transparent;font-family:Arial;font-size:12pt;color:#ff0000;font-weight:bold;border-width:0;border-style:dotted;border-color:#000000;"> ⚠ Coronavirus : Pour toute urgence médicale, contactez un médecin et suivez les consignes des autorités de santé. Pour vous aider à traverser au mieux cette période difficile je vous propose un accompagnement à distance sur support photo.
  </marquee>
</div>
<br>
<div class="container mycontainer aered">
  <p>Chers patients,<br>Ces premiers jours de déconfinement sont l’occasion de retrouver petit à petit une vie normale. La situation nous oblige cependant à repenser notre quotidien : notre mobilité, la façon de prendre soin de nous et de nos proches, nos interactions avec les autres...<br></p>
  <p>Dans ce contexte, je reste joignable par mail ou téléphone afin que nous convenions d’un rendez-vous en respectant toutes les précautions sanitaires.</p>
  <p>Ensemble, restons vigilants et continuons d’appliquer les gestes barrières.</p>

    Jean Marie Banzo<br>Magnétiseur Énergéticien<br>06 72 56 15 06

    <p><strong>Je coupe le feu des brûlures (même à distance). Les brûlures des rayons de la radiothérapie (même à distance) - URGENCE ZONA (même à distance).</strong></p>
</div>

