<div class="navbar-top-offset"></div>


<%= partial 'layouts/components/banner' %>

<div class="container mycontainer">
  <marquee direction="left" behavior="scroll" scrollamount="4" style="height:20px;width:auto;background-color:transparent;font-family:Vidaloka;font-size:12pt;color:#ff0000;font-weight:bold;border-width:0;border-style:dotted;border-color:#000000;"> ⚠ Coronavirus : Pour toute urgence médicale, contactez un médecin et suivez les consignes des autorités de santé. Pour vous aider à traverser au mieux cette période difficile je vous propose un accompagnement à distance sur support photo.
  </marquee>
</div>


<div class="container mycontainer">
  <p class="figue">Chers patients,<br>Ces premiers jours de déconfinement sont l’occasion de retrouver petit à petit une vie normale. La situation nous oblige cependant à repenser notre quotidien : notre mobilité, la façon de prendre soin de nous et de nos proches, nos interactions avec les autres...</p>
  <p class="figue">Dans ce contexte, je reste joignable par mail ou téléphone afin que nous convenions d’un rendez-vous en respectant toutes les précautions sanitaires.</p>
  <p class="figue">Ensemble, restons vigilants et continuons d’appliquer les gestes barrières.</p>
  Jean Marie Banzo<br>Magnétiseur Énergéticien<br>06 72 56 15 06
</div>
<div class="container mycontainer" data-aos="zoom-in-up">
  <h3 class="text-center rouge">Prévenez le BURN-OUT par un rééquilibrage de vos énergies !</h3>
  <h3 class="text-center info">Déplacement gratuit à votre domicile sur mon secteur ou participation aux frais de déplacement.</h3>
  <p>Bordeaux (et proche banlieue) - Cestas - Marcheprime - Biganos - Gujan-Mestras - Audenge - Lanton - Cassy - Taussat - Andernos-Les-Bains - Arès - Le Las - Saint Jean d'Illac - Martignas sur Jalles - Saint Médard en Jalles - La Bréde - Léognan - Fargue Saint Hilaire - Ambares - Cénac - Saint Loubes -</p>
  <h4 class="text-center info">Pour les personnes en dehors de mon secteur géographique je vous propose un travail à distance sur supports photos.</h4>
</div>
<div class="container mycontainer " data-aos="zoom-in-up">
  <h2 class="text-center figue">A distance, sur support photo.</h2>
  <h2 class="text-center rouge">Je coupe le feu des brûlures,<br>les brûlures des rayons de la radiothérapie.<br>Je traite les URGENCES ZONA.</h2>
</div>
<div class="container mycontainer" data-aos="zoom-in-up">
  <h3 class="text-center rouge">2020 sans tabac ! C'est possible !!!</h3>
  <p class="text-center">40 Euros la séance à votre domicile pour arrêter de fumer (déplacement gratuit sur mon secteur ).</p>
</div>
<div class="container mycontainer" data-aos="zoom-in-up">
  <h3 class="text-center figue"> PRATICIEN REIKI... MAUX QUE LE MAGNÉTISME SOULAGE :</h3>
  <p>Magnétiseur énergéticien, j’exerce depuis plus de 30 années… Cette énergie <strong>restaure l’équilibre sur le plan physique et émotionnel</strong>… Elle <strong>prévient des maladies courantes</strong> et en <strong>accélère la guérison en stimulant les capacités de défense de l’organisme</strong>.</p>
  <p>Le Reiki est utilisé comme une technique de relaxation, de suppression du stress, mais beaucoup d'autres applications lui sont reconnues, comme la <strong>diminution ou l'élimination des douleurs ou des effets secondaires causés par la médication</strong>. Utilisé en complément de la médecine, il <strong>participe et encourage le processus d'auto-guérison des patients</strong>.</p>
  <p>Les soins énergétiques soignant des personnes et non pas des maladies.</p>
  <p>La liste des symptômes traités qui suit n'est là qu'à titre purement indicatif et ne se veut pas limitative.</p>
  <p class="info">Burn-out - Acné - Allergies - Anxiété - Arthrite - Épuisement - Côlon irritable (syndrome du) - Concentration (problèmes de) - Constipation chronique - Convalescence  - Couperose - Crohn (maladie de) - Dépression - Diarrhée - Douleur osseuse / fractures - Douleurs articulaires / dorsales / lombaires / cervicales – Eczéma - Fatigue chronique ou ponctuelle - Goutte -Humeurs instables - Infertilité - Insomnie - Lumbago / lombalgie - Maîtrise de soi / Colère - Migraines chroniques - Nervosité - Oppression (sentiment ou symptômes d') - Panique (crise de)  - Phlébite - Psoriasis - Règles irrégulières ou douloureuses - Rupture ligamentaire – Sciatique - Sinusite - Stress (suivi régulier) - Suites opératoires (à traiter avant l'intervention) - Brûlures - Radiothérapie (rayons) -Tendinite  - Varices - Verrues  - Zona -</p>
</div>

<%= partial 'layouts/components/avertissement' %>
