<div class="navbar-top-offset"></div>

<%= partial 'layouts/components/banner' %>

<div class="container">
   <marquee direction="left" behavior="scroll" scrollamount="6" style="height:200px;width:1000px;background-color:#fffff0;font-family:Arial;font-size:16pt;color:#000;font-weight:bold;border-width:0;border-style:dotted;border-color:#000000; ">Aide à l’Arrêt du tabac - Acné - Allergies - Anxiété - Épuisement - Côlon irritable (syndrome du) - Concentration (problèmes de) - Couperose - Dépression - Douleur osseuse / fractures - Douleurs articulaires / dorsales / lombaires / cervicales – Eczéma - Fatigue chronique ou ponctuelle - Goutte - Humeurs instables - Infertilité - Insomnie - Lumbago / lombalgie - Maîtrise de soi / Colère - Migraines chroniques - Nervosité - Oppression (sentiment ou symptômes d') - Panique (crise de)  - Phlébite - Psoriasis - Rupture ligamentaire – Sciatique - Sinusite - Stress – Angoisses - Suites opératoires (à traiter avant l'intervention) - Tendinite  - Varices - Verrues  - Zona – </marquee>
</div>

<div id="left-nav">
  <ul>
    <li>Maux que le magnétisme soulage</li>
    <li>Coupeur de feu - Barreur de feu - Radiothérapie </li>
    <li>Brûlures suite radiothérapie (rayons)</li>
    <li>Tarifs des séances </li>
    <li>COMMANDER une séance à distance </li>
    <li>Une vie sans tabac j’arrête de fumer !</li>
    <li>Faire face à l'envie de fumer après votre séance</li>
    <li>Contactez-moi </li>
    <li>livre d'or </li>
  </ul>
</div>


<div class="container">
  <marquee direction="left" behavior="scroll" scrollamount="6" style="height:200px;width:1000px;background-color:#fffff0;font-family:Arial;font-size:18pt;color:#ff0000;font-weight:bold;border-width:0;border-style:dotted;border-color:#000000; "> ⚠ Coronavirus : Pour toute urgence médicale, contactez un médecin et suivez les consignes des autorités de santé. Pour vous aider à traverser au mieux cette période difficile je vous propose un accompagnement à distance sur support photo</marquee>
</div>

<div class="container">

Chers patients,<br>
Ces premiers jours de déconfinement sont l’occasion de retrouver petit à petit une vie normale. La situation nous oblige cependant à repenser notre quotidien : notre mobilité, la façon de prendre soin de nous et de nos proches, nos interactions avec les autres...<br>
Dans ce contexte, je reste joignable par mail ou téléphone afin que nous convenions d’un rendez-vous en respectant toutes les précautions sanitaires.<br>
Ensemble, restons vigilants et continuons d’appliquer les gestes barrières.<br>
Jean Marie Banzo<br>
Magnétiseur Énergéticien<br>
06 72 56 15 06<br>
2020 SANS TABAC !<br>
Énergéticien Magnétiseur<br>
                Maître REIKI<br>
J'exerce depuis plus de 30 années<br>
Je coupe le feu des brûlures ( même à distance ) Brûlures des rayons de la radiothérapie  ( même à distance )<br>
URGENCE   ZONA ( même à distance )<br>
Chers patients,<br>
Ces premiers jours de déconfinement sont l’occasion de retrouver petit à petit une vie normale. La situation nous oblige cependant à repenser notre quotidien : notre mobilité, la façon de prendre soin de nous et de nos proches, nos interactions avec les autres...<br>
Dans ce contexte, je reste joignable par mail ou téléphone afin que nous convenions d’un rendez-vous en respectant toutes les précautions sanitaires.<br>
Ensemble, restons vigilants et continuons d’appliquer les gestes barrières.<br>
Jean Marie Banzo<br>
Magnétiseur Énergéticien<br>
06 72 56 15 06<br>
2020 SANS TABAC !<br>
Énergéticien Magnétiseur<br>
Maître REIKI<br>
J'exerce depuis plus de 30 années<br>
Je coupe le feu des brûlures ( même à distance ) Brûlures des rayons de la radiothérapie  ( même à distance )<br>
</div>
