<div class="navbar-top-offset"></div>

<h3 class="text-center">Ces maladies de peau qui empoisonnent notre existence !</h3>
<div class="container mycontainer aered text-center" data-aos="zoom-in-up">
  <h2 class="info">Je me déplace gratuitement à votre domicile sur Bordeaux et ses proches environs, ainsi que sur le nord du bassin d'Arcachon.</h2>
  <h3 class="figue">Magnétisme à distance</h3>
  <h2 class="rouge">Le magnétisme vous aide à combattre l'acné, l'eczéma, les verrues, le zona, les brûlures, le psoriasis et autres maladies de peau.</h2>

  <h3 class="figue">Coupeur de feu - Barreur de feu</h3>
  <h2 class="rouge">Je calme les brûlures des rayons de la radiothérapie</h2>
  <h1 class="rouge">06  72  58  15  06</h1>
  <p class="info">Je conseille de faire une première séance quelques jours avant le début des rayons, sinon contactez-moi dès les premières sensations d'échauffements ou brûlures.</p>
  <button class="btn btn-success btn-lg" href="contact.html" target="_blank">Contacter par E-mail</button>
  <p>(Très pratique, cela facilite l'envoie de photo pour un travail à distance).</p>
</div>

<%= partial 'layouts/components/avertissement' %>
