<div class="navbar-top-offset"></div>

<h3 class="text-center">LES HONORAIRES </h3>
<div class="container mycontainer text-center" data-aos="zoom-in-up">
  <h3 class="info">Séance de REIKI possible à distance...</h3>
  <p class="info">Je me déplace sur rendez-vous fixe à votre domicile sur Bordeaux et ses proches environs.
  <br>* * *</p>
  <h2 class="info">40 Euros la séance à votre à domicile déplacement gratuit sur : Bordeaux proche banlieue - Nord du Bassin d'Arcachon.</h2>
  <hr>
  <h2 class="rouge">40 Euros la Séance à votre domicile pour arrêter de fumer  déplacement gratuit : Bordeaux (et proche banlieue) - Nord du Bassin d'Arcachon.</h2>
  <hr>
  <h2 class="figue">55 € action sur 7 jours à distance sur support photo.
  <br><p>(Me consulter avant de prendre cette option)</p></h2>
  <hr>
  <h2 class="info">45 € la séance à distance sur support photo ou en Télé-consultation.</h2>
  <hr>
  <h2 class="rouge">45 € la séance à distance sur support photo pour arrêter de fumer</h2>
  <hr>
  <h3 class="info">Pour certaines zones de mon secteur, je demande une participation aux frais de déplacement</h3>
  <hr>
  <h2 class="rouge"><i class="fa fa-phone"></i> 06 72 58 15 06</h2>
  <button class="btn btn-success btn-lg" href="contact.html" target="_blank">Demande par E-mail</button>
</div>
