<div class="navbar-top-offset"></div>

<h3 class="text-center">TÉLÉ-SÉANCE  EN  LIGNE  ET SÉANCE  A  DISTANCE</h3>
<div class="container mycontainer aered" data-aos="zoom-in-up">
  <h4 class="figue">Soulager vos douleurs ? Avez-vous pensé à la téléconsultation ?</h4>
  <p class="info">Vous souhaitez obtenir un RDV avec votre praticien pour vous soulager. Avez-vous pensé à la télé-consultation ou à un travail à distance sur support photo ?<br>
Vous pouvez désormais réserver une télé-séance en ligne.<br>
Nous allons nous voir, nous parler et faire la séance via votre tablette, ordinateur ou smartphone.<br>
​Une séance ou téléséance de magnétisme ne remplace pas une consultation chez le médecin, je ne délivre aucun diagnostic, je ne prescris aucun traitement, je ne pratique aucune manipulation, je ne donne pas d'avis sur un traitement médical et je ne m'oppose jamais à une intervention chirurgicale.<br>
Pour la télé-séance, il me faut quelques informations, merci de bien vouloir remplir le formulaire ci-dessous.<br>
​Sous ce formulaire, vous trouverez un bouton « commander » qui permet de payer la télé-séance par paypal ou par Carte Bancaire, le tarif de la télé-séance est de 45 euros.<br>
Toutes les séances à distance sont payables d'avance.<br>
A réception de votre demande et règlement, nous conviendrons d’un créneau jour et heure pour notre télé-séance.<br>
Ce rendez-vous fixé, je vous donnerai les instructions pour le déroulement de la télé-séance, au jour et à l'heure convenue.</p>
</div>





